Display number from -100 to -10 using for loop.

In [2]:
for x in range(-100,-90):
    print(x)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91

Write a program to sum all prime numbers within a range 10 to 1000.

In [3]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def sum_primes(start, end):
    return sum(num for num in range(start, end + 1) if is_prime(num))

# Define the range
start = 10
end = 1000

# Calculate and print the sum of primes
total = sum_primes(start, end)
print(f"Sum of prime numbers from {start} to {end} is: {total}")

Sum of prime numbers from 10 to 1000 is: 76110

Find the factorial of n!

In [4]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

# Example usage
n = 5
print(f"The factorial of {n} is: {factorial(n)}")

The factorial of 5 is: 120

In [5]:
import math

n = 5
print(f"The factorial of {n} is: {math.factorial(n)}")

The factorial of 5 is: 120

Reverse a given integer number 7854422210.

In [6]:
# Given number
num = 7854422210

# Convert to string, reverse it, then convert back to integer
reversed_num = int(str(num)[::-1])

print(f"Reversed number: {reversed_num}")

Reversed number: 122244587

In [7]:
num = 7854422210
reversed_str = str(num)[::-1]
print(f"Reversed number (as string): {reversed_str}")

Reversed number (as string): 0122244587

In [9]:
data = 'python'
data[0]

'p'

In [10]:
data[-1]

'n'

In [11]:
for x in data:
    print(x,'x')

p x
y x
t x
h x
o x
n x

In [12]:
range(10)

range(0, 10)

In [13]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [14]:
len(data)

6

In [15]:
for x in range(6):
    print(data[x])

p
y
t
h
o
n

In [16]:
data = 'i love data science so much'
for i in range(len(data)):
    print(data[i])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [17]:
data = 'i love data science so much'
for x in range(len(data)):
    print(data[x])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [18]:
data.split()

['i', 'love', 'data', 'science', 'so', 'much']

In [19]:
data = 'i love data science so much'
data = data.split()
for i in range(len(data)):
    print(data[i],i)

i 0
love 1
data 2
science 3
so 4
much 5

In [20]:
data[1]

'love'

In [21]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    #print(total,x)
print(total)

301

In [22]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    print(total,x)
print('Total',total)

2 2
5 3
9 4
64 55
124 60
201 77
301 100
Total 301

In [23]:
for i in range(10):
    print('data science',i)

data science 0
data science 1
data science 2
data science 3
data science 4
data science 5
data science 6
data science 7
data science 8
data science 9

In [24]:
for i in range(5,10): #n-1
    print('data science',i)

data science 5
data science 6
data science 7
data science 8
data science 9

In [25]:
for i in range(5,10,2): # i = i+2
    print('data science',i)

data science 5
data science 7
data science 9

In [26]:
for i in range(100,50,-10): # i = i+2
    print('data science',i)

data science 100
data science 90
data science 80
data science 70
data science 60

In [27]:
for i in range(100,0,-2): # i = i+2
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2